workflows/GChat_PM_Bot.json
{
  "name": "Telegram PM Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        480,
        0
      ],
      "id": "20a56d43-17f9-4e7f-80af-39ed98eda250",
      "name": "Telegram Message",
      "webhookId": "",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $json.message || $json;\nconst chat = msg.chat || {};\nconst from = msg.from || {};\nconst text = (msg.text || '').trim();\n\n// Ignore empty messages\nif (!text) {\n  return [{ json: { skip: true, reason: 'empty_text' } }];\n}\n\n// Determine agent based on command or default\nlet agent = 'product-manager';\nlet userText = text;\n\nif (text.startsWith('/agent ')) {\n  const parts = text.slice(7).split(' ');\n  agent = parts[0];\n  userText = parts.slice(1).join(' ');\n} else if (text.startsWith('/ask ')) {\n  userText = text.slice(5);\n} else if (text === '/help') {\n  return [{ json: { skip: true, reason: 'help', helpResponse: true, chatId: chat.id } }];\n} else if (text === '/status') {\n  return [{ json: { skip: true, reason: 'status', statusCheck: true, chatId: chat.id } }];\n} else if (text.startsWith('/')) {\n  // Unknown command\n  return [{ json: { skip: true, reason: 'unknown_command', chatId: chat.id } }];\n}\n\nreturn [{\n  json: {\n    skip: false,\n    agent,\n    conversationId: `telegram:${agent}:${chat.id}`,\n    telegram: {\n      chatId: String(chat.id),\n      messageId: String(msg.message_id),\n      user: from.first_name || from.username || 'unknown',\n      text: userText\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        0
      ],
      "id": "60a8c1ca-ed4a-4683-9d02-e9fc691774d8",
      "name": "Normalize Telegram Event"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "107c9050-2ec5-4140-978d-de9931b60b02",
              "leftValue": "={{ $json.skip !== true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        832,
        0
      ],
      "id": "a5443da0-ba17-496d-ad05-b0b090295598",
      "name": "Should process"
    },
    {
      "parameters": {
        "jsCode": "const job = {\n  agent: $json.agent,\n  message: $json.telegram.text,\n  conversationId: $json.conversationId,\n  workingDir: \"{{DEFAULT_WORKING_DIR}}\",\n  callbackUrl: \"{{N8N_PUBLIC_URL}}/webhook/runner/callback\",\n  telegram: {\n    chatId: $json.telegram.chatId,\n    messageId: $json.telegram.messageId,\n    user: $json.telegram.user\n  }\n};\n\nreturn [{ json: { job } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -96
      ],
      "id": "6c663e00-bb34-4569-b3ce-fcf1dde3caf6",
      "name": "Build runner job"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{RUNNER_INTERNAL_URL}}/chat",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{$json.job}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1232,
        -96
      ],
      "id": "6c074578-0899-4b94-ad32-ce9784b4c4bd",
      "name": "Call runner",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const runner = $node[\"Call runner\"].json || {};\nconst telegram = $node[\"Build runner job\"].json.job.telegram;\n\nlet text =\n  runner.result ||\n  runner.output ||\n  runner.message ||\n  (typeof runner === \"string\" ? runner : JSON.stringify(runner, null, 2));\n\n// Telegram has a 4096 char limit, truncate if needed\nif (text && text.length > 4000) {\n  text = text.substring(0, 3990) + '\\n...(truncated)';\n}\n\nreturn [{\n  json: {\n    chatId: telegram.chatId,\n    replyToMessageId: telegram.messageId,\n    text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        -96
      ],
      "id": "fa0ba41a-83fc-4b32-ab19-601b4ba26525",
      "name": "Format reply"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true,
          "reply_to_message_id": "={{ $json.replyToMessageId }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        -96
      ],
      "id": "d0ef4ce2-e0fc-439a-908d-4fe735dce9b3",
      "name": "Send Telegram Reply",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": ""
        }
      }
    }
  ],
  "connections": {
    "Telegram Message": {
      "main": [
        [
          {
            "node": "Normalize Telegram Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Telegram Event": {
      "main": [
        [
          {
            "node": "Should process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should process": {
      "main": [
        [
          {
            "node": "Build runner job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build runner job": {
      "main": [
        [
          {
            "node": "Call runner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call runner": {
      "main": [
        [
          {
            "node": "Format reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format reply": {
      "main": [
        [
          {
            "node": "Send Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
