workflows/Outcome_Tracker.json
{
  "name": "Outcome Tracker - Post-Ship Bug Correlation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "outcome-tracker-001",
      "name": "Weekdays 5pm"
    },
    {
      "parameters": {
        "url": "https://{{JIRA_HOST}}/rest/api/3/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"jql\": \"project = CER AND status = Done AND status changed to Done AFTER -2d ORDER BY updated DESC\",\n  \"fields\": [\"key\", \"summary\", \"labels\", \"updated\"],\n  \"maxResults\": 50\n}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "outcome-tracker-002",
      "name": "Fetch Recently Done Issues",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "",
          "name": ""
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://{{JIRA_HOST}}/rest/api/3/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"jql\": \"project = CER AND issuetype = Bug AND created >= -2d ORDER BY created DESC\",\n  \"fields\": [\"key\", \"summary\", \"priority\", \"status\", \"description\"],\n  \"maxResults\": 50\n}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "jiraSoftwareCloudApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        300
      ],
      "id": "outcome-tracker-003",
      "name": "Fetch Recent Bugs",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "",
          "name": ""
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Correlate recently shipped features with new bugs\nconst doneIssues = $('Fetch Recently Done Issues').first().json;\nconst bugIssues = $('Fetch Recent Bugs').first().json;\n\nconst shipped = (doneIssues.issues || []).map(i => ({\n  key: i.key,\n  summary: i.fields?.summary || '',\n  labels: i.fields?.labels || [],\n  updated: i.fields?.updated || ''\n}));\n\nconst bugs = (bugIssues.issues || []).map(i => ({\n  key: i.key,\n  summary: i.fields?.summary || '',\n  priority: i.fields?.priority?.name || 'Medium',\n  status: i.fields?.status?.name || '',\n  description: (() => {\n    const desc = i.fields?.description;\n    if (!desc) return '';\n    if (typeof desc === 'string') return desc;\n    // ADF format - extract text\n    try {\n      return JSON.stringify(desc).substring(0, 500);\n    } catch (e) {\n      return '';\n    }\n  })()\n}));\n\nconst recentlyShipped = shipped.length;\nconst newBugs = bugs.length;\nconst criticalHighBugs = bugs.filter(b => ['Highest', 'High', 'Critical'].includes(b.priority)).length;\nconst escapeRate = recentlyShipped > 0 ? Math.round((newBugs / recentlyShipped) * 100) : 0;\n\n// Correlate: check if bug summaries/descriptions reference shipped feature keys or similar terms\nconst correlations = [];\nfor (const bug of bugs) {\n  const bugText = (bug.summary + ' ' + bug.description).toLowerCase();\n  for (const feature of shipped) {\n    const featureKey = feature.key.toLowerCase();\n    const featureWords = feature.summary.toLowerCase().split(/\\s+/).filter(w => w.length > 3);\n    const keyMatch = bugText.includes(featureKey);\n    const wordMatches = featureWords.filter(w => bugText.includes(w));\n    if (keyMatch || wordMatches.length >= 2) {\n      correlations.push({\n        bug: bug.key,\n        bugSummary: bug.summary,\n        bugPriority: bug.priority,\n        feature: feature.key,\n        featureSummary: feature.summary,\n        matchType: keyMatch ? 'key-reference' : 'keyword-overlap',\n        matchedWords: wordMatches.slice(0, 5)\n      });\n    }\n  }\n}\n\nconst today = new Date().toISOString().split('T')[0];\n\n// Build concerning section\nlet concerningText = '';\nif (correlations.length > 0) {\n  concerningText = correlations.map(c =>\n    `- ${c.feature} (${c.featureSummary}) may relate to ${c.bug} (${c.bugSummary}) [${c.bugPriority}]`\n  ).join('\\n');\n} else if (newBugs > 0) {\n  concerningText = bugs.slice(0, 5).map(b =>\n    `- ${b.key}: ${b.summary} [${b.priority}]`\n  ).join('\\n');\n}\n\nconst hasIssues = newBugs > 0 || correlations.length > 0;\n\nreturn [{\n  json: {\n    hasIssues,\n    recentlyShipped,\n    newBugs,\n    criticalHighBugs,\n    escapeRate,\n    correlations,\n    date: today,\n    concerningText,\n    shippedList: shipped.slice(0, 10).map(s => `${s.key}: ${s.summary}`).join('\\n'),\n    bugList: bugs.slice(0, 10).map(b => `${b.key}: ${b.summary} [${b.priority}]`).join('\\n')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        150
      ],
      "id": "outcome-tracker-004",
      "name": "Correlate Outcomes"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "has-issues-check",
              "leftValue": "={{ $json.hasIssues }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1100,
        150
      ],
      "id": "outcome-tracker-005",
      "name": "Has Issues?"
    },
    {
      "parameters": {
        "chatId": "-5037701631",
        "text": "=*Outcome Tracker - {{ $json.date }}*\n\n*Recently Shipped*: {{ $json.recentlyShipped }} features\n*New Bugs*: {{ $json.newBugs }} ({{ $json.criticalHighBugs }} critical/high)\n*Escape Rate*: {{ $json.escapeRate }}%\n\n{{ $json.correlations.length > 0 ? '*Concerning Correlations*:\\n' + $json.concerningText : '*Recent Bugs*:\\n' + $json.concerningText }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1320,
        50
      ],
      "id": "outcome-tracker-006",
      "name": "Send Outcome Report",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": ""
        }
      }
    }
  ],
  "connections": {
    "Weekdays 5pm": {
      "main": [
        [
          {
            "node": "Fetch Recently Done Issues",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Recent Bugs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recently Done Issues": {
      "main": [
        [
          {
            "node": "Correlate Outcomes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Bugs": {
      "main": [
        [
          {
            "node": "Correlate Outcomes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correlate Outcomes": {
      "main": [
        [
          {
            "node": "Has Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Issues?": {
      "main": [
        [
          {
            "node": "Send Outcome Report",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "active": false
}
