workflows/Plan_Approval_Gate.json
{
  "name": "Plan Approval Gate",
  "nodes": [
    {
      "id": "gate-webhook",
      "name": "Plan Callback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "plan-gate-aaaa-bbbb-cccc-000000000001",
      "parameters": {
        "httpMethod": "POST",
        "path": "plan-approval-gate",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "gate-build",
      "name": "Build Plan Card",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "parameters": {
        "jsCode": "const b = $json.body || $json;\nconst jobId = b.jobId || '';\nconst chatId = String((b.telegram && b.telegram.chatId) || '');\nconst plan = (b.parsedOutput && b.parsedOutput.result) || b.result || '';\n// Only render when the plan is actually ready. Ignore the runner's job-start callback\n// (event:'started' / status:'running') which carries no plan yet — it was producing a\n// premature '(planner returned no plan text)' card with live buttons.\nif (!chatId || !jobId || b.event === 'started' || b.status === 'running' || !plan.trim()) { return []; }\nconst out = [];\nconst MAX = 3800;\nconst body = plan.trim();\nfor (let i = 0; i < body.length; i += MAX) { out.push({ json: { chatId, text: body.slice(i, i + MAX) } }); }\nconst kb = JSON.stringify({ inline_keyboard: [[\n  { text: '\\u2705 Approve & Implement', callback_data: 'plan:approve:' + jobId },\n  { text: '\\u274c Reject', callback_data: 'plan:reject:' + jobId }\n]] });\nout.push({ json: { chatId, text: '\\ud83d\\udccb Plan ready (job ' + jobId + '). Approve to dispatch engineer-implementer, or reject.', keyboard: kb } });\nreturn out;"
      }
    },
    {
      "id": "gate-send",
      "name": "Send Plan Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        440,
        0
      ],
      "onError": "continueRegularOutput",
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot<TELEGRAM_BOT_TOKEN>/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({ chat_id: $json.chatId, text: $json.text, disable_web_page_preview: true }, $json.keyboard ? { reply_markup: JSON.parse($json.keyboard) } : {})) }}",
        "options": {}
      }
    },
    {
      "parameters": {
        "jsCode": "// Meshwork webhook caller verification.\n// Accepts EITHER:\n//   1) the runner's HMAC signature (x-meshwork-signature over `${ts}.${body}`)\n//   2) a shared token in ?token= or the x-webhook-token header (for external\n//      callers like Jira webhook URLs)\n// Enforcement is off until WEBHOOK_VERIFICATION_ENFORCE=true in .env (values\n// are substituted at import time by scripts/import-workflows.sh).\nconst crypto = require('crypto');\n\nconst ENFORCE = '{{WEBHOOK_VERIFICATION_ENFORCE}}'.toLowerCase() === 'true';\nconst RUNNER_SECRET = '{{RUNNER_SECRET}}';\nconst SHARED_TOKEN = '{{WEBHOOK_SHARED_TOKEN}}';\n\nconst item = $input.first().json;\nconst headers = item.headers || {};\nconst query = item.query || {};\nconst body = item.body ?? {};\n\nconst isPlaceholder = (v) => !v || v.indexOf('{{') === 0;\nlet ok = false;\n\n// 1) Runner HMAC\nconst sig = headers['x-meshwork-signature'];\nconst ts = headers['x-meshwork-timestamp'];\nif (sig && ts && !isPlaceholder(RUNNER_SECRET)) {\n  const age = Math.abs(Date.now() - Number(ts));\n  if (age < 5 * 60 * 1000) {\n    const expected = 'sha256=' + crypto.createHmac('sha256', RUNNER_SECRET)\n      .update(ts + '.' + JSON.stringify(body)).digest('hex');\n    const a = crypto.createHash('sha256').update(expected).digest();\n    const b = crypto.createHash('sha256').update(String(sig)).digest();\n    if (crypto.timingSafeEqual(a, b)) ok = true;\n  }\n}\n\n// 2) Shared token\nif (!ok && !isPlaceholder(SHARED_TOKEN)) {\n  const provided = String(query.token || headers['x-webhook-token'] || '');\n  if (provided) {\n    const a = crypto.createHash('sha256').update(provided).digest();\n    const b = crypto.createHash('sha256').update(SHARED_TOKEN).digest();\n    if (crypto.timingSafeEqual(a, b)) ok = true;\n  }\n}\n\nif (!ok && ENFORCE) {\n  throw new Error('Webhook verification failed: missing or invalid signature/token. See SECURITY.md (webhook verification).');\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        -160
      ],
      "id": "4ee8bdd0-6497-49ab-8429-5c5d41112b3e",
      "name": "Verify caller"
    }
  ],
  "connections": {
    "Plan Callback": {
      "main": [
        [
          {
            "node": "Verify caller",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Plan Card": {
      "main": [
        [
          {
            "node": "Send Plan Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify caller": {
      "main": [
        [
          {
            "node": "Build Plan Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
