workflows/Runner_Health_Monitor.json
{
  "name": "Runner Health Monitor - 5-Minute Health Check",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "health-monitor-001",
      "name": "Every 5 Minutes"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "{{RUNNER_INTERNAL_URL}}/health",
        "options": {
          "timeout": 10000,
          "allowUnauthorizedCerts": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "health-monitor-002",
      "name": "Check Runner Health",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Evaluate health response\nconst response = $json;\nconst error = $json.error || null;\n\n// If HTTP request failed entirely\nif (error) {\n  return [{ json: {\n    healthy: false,\n    alert: true,\n    reason: `Runner unreachable: ${error}`,\n    severity: 'critical'\n  }}];\n}\n\n// Parse health data\nconst running = response.running || 0;\nconst queued = response.queued || 0;\nconst maxConcurrency = response.maxConcurrency || 1;\n\n// Check for issues\nconst issues = [];\n\nif (queued > 10) {\n  issues.push(`Queue depth is ${queued} (>10)`);\n}\n\nif (running >= maxConcurrency && queued > 0) {\n  issues.push(`At max concurrency (${running}/${maxConcurrency}) with ${queued} queued`);\n}\n\nconst healthy = issues.length === 0;\n\nreturn [{ json: {\n  healthy,\n  alert: !healthy,\n  reason: issues.length > 0 ? issues.join('; ') : 'All systems normal',\n  severity: issues.length > 1 ? 'warning' : (issues.length > 0 ? 'info' : 'ok'),\n  running,\n  queued,\n  maxConcurrency\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "health-monitor-003",
      "name": "Evaluate Health"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "alert-check",
              "leftValue": "={{ $json.alert }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        880,
        0
      ],
      "id": "health-monitor-004",
      "name": "Should Alert?"
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ENGINEERING }}",
        "text": "=*Runner Health Alert*\n*Status*: {{ $json.severity }}\n*Issue*: {{ $json.reason }}\n*Running*: {{ $json.running }}/{{ $json.maxConcurrency }}\n*Queued*: {{ $json.queued }}\n*Time*: {{ new Date().toISOString() }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1100,
        -100
      ],
      "id": "health-monitor-005",
      "name": "Alert Google Chat",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": ""
        }
      }
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Check Runner Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Runner Health": {
      "main": [
        [
          {
            "node": "Evaluate Health",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Evaluate Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Health": {
      "main": [
        [
          {
            "node": "Should Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Alert?": {
      "main": [
        [
          {
            "node": "Alert Telegram",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "active": false
}
