workflows/Sales_Outreach_Schedule.json
{
  "name": "Sales Outreach Schedule - Weekly",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 1 * * 4"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "sales-outreach-001",
      "name": "Weekly Thursday 10am"
    },
    {
      "parameters": {
        "jsCode": "// Generate outreach job request\nconst weekDate = new Date().toISOString().split('T')[0];\n\nreturn [{\n  json: {\n    weekDate,\n    idempotencyKey: `sales-outreach:weekly:${weekDate}`,\n    prompt: `Prepare outreach for this week's hot and warm prospects. Dispatch sales-outreach to draft personalised emails and LinkedIn messages for high-priority prospects. Store drafts in Confluence under Sales/Outreach Drafts for human review before sending.`\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "sales-outreach-002",
      "name": "Prepare Outreach Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "{{RUNNER_INTERNAL_URL}}/agent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Idempotency-Key",
              "value": "={{ $json.idempotencyKey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"agent\": \"sales-development\",\n  \"prompt\": {{ JSON.stringify($json.prompt) }},\n  \"context\": \"Scheduled weekly outreach drafting. Week of: {{ $json.weekDate }}\",\n  \"source\": {\n    \"workflow\": \"Sales_Outreach_Schedule\",\n    \"triggeredBy\": \"schedule:weekly-outreach\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        440,
        0
      ],
      "id": "sales-outreach-003",
      "name": "Dispatch Sales Development",
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_SALES }}",
        "text": "*Weekly Outreach Drafting Started*\n\nWeek of: {{ $('Prepare Outreach Request').item.json.weekDate }}\n\nDrafting outreach for hot/warm prospects. Drafts will be posted to Confluence for review.",
        "additionalFields": {
          "parse_mode": "Markdown",
          "disable_web_page_preview": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        0
      ],
      "id": "sales-outreach-004",
      "name": "Notify Sales Space",
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": ""
        }
      }
    }
  ],
  "connections": {
    "Weekly Thursday 10am": {
      "main": [
        [
          {
            "node": "Prepare Outreach Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Outreach Request": {
      "main": [
        [
          {
            "node": "Dispatch Sales Development",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Sales Development": {
      "main": [
        [
          {
            "node": "Notify Sales Space",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "active": false
}
